.about_body_container {
  margin: 10px 10% 10px 10%;
}

.about_container {
  display: flex;

  justify-content: space-between;
  .sub_container {
    width: 100%;
    padding: 5px;

    &.left {
      margin: 50% 30px 0 -10%;
      /* border-right: 1px solid #f1f1f1; */
      width: 30%;
      text-align: center;
      h1 {
        font-size: 3rem;
      }
      .subheader {
        text-align: center;
      }
    }
    &.right {
      margin: 1rem 10px 0 10px;
    }
  }
}
.about_header {
  display: flex;
  align-items: center;
  justify-content: center;
  .left {
    float: left;
  }
  .right {
    float: right;
    margin-left: 20px;
  }
}

.circle_img {
  border-radius: 50%;
  /* position: relative; */
  aspect-ratio: 1 / 1;
}

.variable-width-200 {
  width: 200px;
  max-width: 50%;
}

.link-grid {
  margin: 10px 0;
  * {
    margin: 0 5px 10px 3px;
  }
}

.resume_section {
  margin: 0 0 -10px 0;
  padding: 0 0 0 10px;
  hr {
    margin-top: -15px;
  }
  p {
    margin: 5px 0px;
    font-size: 12pt;
  }
  ul,
  li,
  ol {
    margin: 5px;
    font-size: 12pt;
  }
}

/* .plot_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* #langPlot {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */
#aboutleft {
  display: none;
  position: fixed;
  left: -10%;
  top: 25%;
  width: 20%;
  text-align: center;
  .subheader {
    text-align: center;
  }
}

@media screen and (max-width: 524px) {
  .about_header {
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    .left {
      float: none;
      margin: 0;
    }
    .right {
      float: none;
      margin: 0;
    }
    .variable-width-200 {
      max-width: 100%;
      width: 60%;

      /* position: relative; */
      /* margin: 0 25% 0 25%; */
    }

    .subheader {
      text-align: center;
    }
  }
}

@media screen and (max-width: 768px) {
  /* .about_header h1 {
    font-size: 3.5rem;
  } */

  .about_container {
    .sub_container {
      &.left {
        display: none;
      }
      &.right {
        margin: 0 0;
      }
    }
  }
  /* .about_container {
    flex-direction: column;
  }
  .about_container .sub_container {
    width: 100%;
    padding: 5px;
    border: 1px solid black;
    height: 100%;

    &.left {
      margin: 1rem 10px 0 auto;
      border-right: 1px solid #f1f1f1;
      width: 100%;
      border: none;
    }
    &.right {
      margin: 1rem 10px 0 3rem;
    }
  }
  .about_header {
    display: flex;
    align-items: center;
    justify-content: center;
    .left {
      float: left;
    }
    .right {
      float: right;
      padding-left: 20px;
    }
  }
  .circle_img {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
  }
  .variable-width-200 {
    width: 200px;
    max-width: 50%;
  }
   */
}

.resume_section_container {
  margin-bottom: 30px;
}
