@font-face {
  font-family: "montserrat";
  src: url("../font/montserrat.ttf");
}

@font-face {
  font-family: "itc-stone-sans";
  src: url("../font/stonesans.ttf");
}

@font-face {
  font-family: "itc-stone-sans-reg";
  src: url("../font/stonesans_reg.woff") format("woff");
}

@font-face {
  font-family: "roboto";
  src: url("https://fonts.gstatic.com/s/roboto/v30/KFOkCnqEu92Fr1MmgVxIIzI.woff2")
    format("woff2");
}
