:root {
  --accent-color: #00a7ff;
  --accent-color-dark: #006196;
  --accent-color-alt: #d000ff;
  --northeastern-red: #c8102e;
  --text-color: #f2f2f2;
  --background-color: rgb(3, 3, 10);
  --grey-text: #262626;
  --subheader-text: #a1a1a1;
  --font-family: "cascadia-code", "cascadia-mono", "Consolas", "Courier New",
    monospace;
}

@font-face {
  font-family: "cascadia-code";
  src: url("../font/CascadiaCode.woff2") format("woff2");
}

@font-face {
  font-family: "cascadia-mono";
  src: url("../font/CascadiaMono.woff2") format("woff2");
}

@font-face {
  font-family: "FontAwesome";
  src: url("../font/fontawesome-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.9;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.9;
  }
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

body {
  font-family: var(--font-family);
  width: 100%;
  overflow-x: hidden;
  color: var(--text-color);
  font-size: 16pt;
}

table,
td,
th {
  border-collapse: collapse;
  border: 2px solid var(--text-color);
  padding: 0 20px 0 0;
}

thead {
  border-bottom: 2px solid var(--text-color);
  background-color: var(--accent-color-dark);
}

body.titlepage {
  background: linear-gradient(
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.1) 5%,
      rgb(0, 0, 0) 90%
    ),
    url("../img/boston_vector.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  overflow: hidden;
  height: 100%;
  /* overflow-y: hidden; */
}

.mainContainer hr {
  border: 0;
  height: 3px;
  background: var(--text-color);
  margin-top: 20px;
  margin-bottom: -60px;
  /* background: #333; */
  /* background-image: linear-gradient(to right, #f2f2f2, rgb(0, 0, 0) 90%); */
}

.neuAccent,
.neuAccent:visited {
  color: var(--subheader-text) !important;
}

.neuAccent:hover,
.neuAccent:visited:hover {
  color: var(--northeastern-red) !important;
  text-decoration: none;
}

.mainContainer {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* padding: 10px 20px 30px 20px; */
  border-radius: 10px;
}

.mainContainer > h3 {
  font-size: 20pt;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.mainContainer h1,
h1 {
  /* text-align: center; */
  font-size: 60pt;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 50pt;
}

h2 {
  font-size: 40pt;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.mainContainer ul,
.mainContainer ol,
.mainContainer li {
  font-size: 32pt;
  /* margin: 0.75em 0; */
  padding: 0 1em;
  list-style: none;
  margin-bottom: -10px;
}

.mainContainer li {
  margin-bottom: -32px;
}

.mainContainer li:hover::before {
  border-color: transparent var(--accent-color);
  text-decoration: underline;
}

.mainContainer li:active::before {
  border-color: transparent var(--accent-color-dark);
}

.mainContainer li::before {
  content: "";
  border-color: transparent var(--text-color);
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 1em;
  position: relative;
}

.mainContainer section {
  padding: 2rem;
}

.mainContainer a:visited,
.mainContainer a:visited:hover {
  color: var(--accent-color);
}

footer {
  text-align: center;
  /* position: absolute; */
  margin: 30px 0;
  padding: 0 15% 0 15%;
  height: 2.5rem;
  left: 0;
  color: var(--grey-text);
  font-size: 9pt;
  * {
    margin: 5px 2px;
  }
  .reduced-margin-left {
    margin-left: -1px;
  }
  div:last-child {
    margin-bottom: 30px;
  }
}
p {
  margin-left: 5px;
}

a,
a:hover {
  color: var(--accent-color);
  text-decoration: none;
}

a:visited:active,
a:active:visited,
a:active {
  color: var(--accent-color-dark);
}

a:visited,
a:visited:hover {
  color: var(--accent-color-alt);
}

a:hover,
a:visited {
  text-decoration: underline solid 2px;
}

.no-highlight {
  -moz-user-select: none;
  -webkit-text-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.body_container {
  margin: 10px 15%;
  /* padding: 10px 15%;
  overflow: hidden; */
}

::-webkit-scrollbar {
  width: 10px;
  background: none;
  background-color: var(--background-color);
  /* border-radius: 10px; */
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--background-color);
  /* border-radius: 10px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(58, 58, 58, 0.95);
  /* border-radius: 10px; */
  opacity: 0.6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent-color-dark);
  opacity: 1;
}

::-webkit-scrollbar-thumb:active {
  background-color: var(--accent-color);
  opacity: 1;
}

/* ::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0.95);
} */

/* .projContainer > h1 {
  text-align: center;
} */

.hidden {
  display: none;
}

.centered {
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10px;
  ul {
    list-style-type: none;
  }
}

.centeredalt {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.text-left {
  text-align: left;
}

.subheader {
  text-align: left;
  color: var(--subheader-text) !important;
  margin: 5px 0px;
}

.tooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  z-index: 1;
  background: #333;
  transform: translate(1px, 0);
  color: #fff;
  padding: 5px;
  font-size: 10pt;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s;
  white-space: nowrap;
  font-family: var(--font-family);
}

.tooltip::before {
  content: "";
  opacity: 0;
  position: absolute;
  z-index: 1;
  transform: translate(10px, 6px);
  border-width: 5px;
  border-style: solid;
  border-color: transparent #333 transparent transparent;
}

.tooltip:hover::after,
.tooltip:hover::before {
  opacity: 1;
}

.text-center {
  text-align: center;
}

.back2top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 25pt;
  cursor: pointer;
  font-weight: bold;
  color: var(--text-color) !important;
  transition: background-color 0.2s;
  transition: opacity 0.2s;
  text-decoration: none !important;
}
/* 
.back2top:focus {
  background-color: rgba(0, 0, 0, 0.8);
} */

.back2top:hover {
  color: var(--accent-color) !important;
}

.back2top:active {
  color: var(--accent-color-dark) !important;
}

.caption {
  font-style: italic;
  font-size: 10pt;
  text-align: center;
  color: var(--subheader-text);
}

.white-anchor,
.white-anchor:visited {
  color: var(--text-color);
  text-decoration: underline solid 1px var(--text-color);
}

.white-anchor:hover,
.white-anchor:visited:hover {
  color: var(--accent-color);
  text-decoration: underline solid 1px var(--accent-color);
}

.white-anchor:active,
.white-anchor:visited:active {
  color: var(--accent-color-dark);
  text-decoration: underline solid 1px var(--accent-color-dark);
}

.blank-anchor,
.blank-anchor:visited {
  color: inherit;
  text-decoration: none;
}

.blank-anchor:hover,
.blank-anchor:visited:hover {
  color: inherit;
  text-decoration: underline solid 1px;
}

.blank-anchor:active,
.blank-anchor:visited:active {
  text-decoration: underline solid 1px;
}

.links-wrapper {
  a:visited {
    color: var(--accent-color);
  }

  a:hover,
  a:visited:hover {
    color: var(--accent-color-dark);
    text-decoration: none;
  }

  a:active,
  a:visited:active {
    text-decoration: underline solid 1px var(--accent-color-dark);
  }
}

.tooltip-top::after {
  content: attr(data-tooltip);
  position: absolute;
  z-index: 1;
  background: #333;
  transform: translate(-50%, -100%);
  color: #fff;
  padding: 5px;
  font-size: 10pt;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s;
  white-space: nowrap;
  font-family: var(--font-family);
}

.tooltip-top::before {
  content: "";
  opacity: 0;
  position: absolute;
  z-index: 1;
  transform: translate(0, 0);
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.tooltip-top:hover::after,
.tooltip-top:hover::before {
  opacity: 1;
}

.tooltip-left::after {
  content: attr(data-tooltip);
  position: absolute;
  z-index: 1;
  background: #333;
  transform: translate(-115%, -20%);
  color: #fff;
  padding: 5px;
  font-size: 10pt;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s;
  white-space: nowrap;
  font-family: var(--font-family);
}

.tooltip-left::before {
  content: "";
  opacity: 0;
  position: absolute;
  z-index: 1;
  transform: translate(-32%, 20%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #333;
}
.tooltip-left:hover::after,
.tooltip-left:hover::before {
  opacity: 1;
}

.noscript-text {
  color: var(--northeastern-red);
}

/* .noscript-box {
  color: var(--northeastern-red);
  position: fixed;
  top: 50%;
  left: 50%;

  .noscript-text {
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
    padding: 10px;
    border: 2px solid var(--northeastern-red);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    visibility: hidden;
  }

  .noscript-text:target {
    visibility: visible;
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    font-size: 10pt;
    font-weight: bold;
    color: var(--text-color);
    cursor: pointer;
  }
} */

@media screen and (max-width: 768px) {
  .body_container {
    margin: 10px 5%;
  }

  footer {
    padding: 0 5% 0 5%;
  }

  .mainContainer {
    border: none;
    max-width: 90%;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
  }
  .mainContainer ul,
  .mainContainer ol,
  .mainContainer li {
    text-wrap: none;
  }
}
