:root {
  --accent: #00a7ff;
  --accent-dark: #006196;
  --accent-alt: #d000ff;
  --northeastern-red: #c8102e;
  --text: #f2f2f2;
  --background-color: rgb(3, 3, 10);
  --grey-text: #262626;
}

@font-face {
  font-family: "cascadia-code";
  src: url("../font/CascadiaCode.woff2") format("woff2");
}

@font-face {
  font-family: "cascadia-mono";
  src: url("../font/CascadiaMono.woff2") format("woff2");
}

@font-face {
  font-family: "FontAwesome";
  src: url("../font/fontawesome-webfont.ttf?v=4.7.0") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.9;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.9;
  }
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
  width: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

body {
  font-family: "cascadia-code", "cascadia-mono", "Consolas", "Courier New",
    monospace;
  width: 100%;
  overflow-x: hidden;
  color: var(--text);
  font-size: 16pt;
}

table,
td,
th {
  border-collapse: collapse;
  border: 2px solid var(--text);
  padding: 0 20px 0 0;
}

thead {
  border-bottom: 2px solid var(--text);
  background-color: var(--accent-dark);
}

body.titlepage {
  background: linear-gradient(
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.1) 5%,
      rgb(0, 0, 0) 90%
    ),
    url("../img/boston_vector.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  overflow: hidden;
  height: 100%;
  /* overflow-y: hidden; */
}

.mainContainer hr {
  border: 0;
  height: 3px;
  background: var(--text);
  margin-top: 20px;
  margin-bottom: -60px;
  /* background: #333; */
  /* background-image: linear-gradient(to right, #f2f2f2, rgb(0, 0, 0) 90%); */
}

.neuAccent,
.neuAccent:visited {
  color: #a1a1a1 !important;
}

.neuAccent:hover,
.neuAccent:visited:hover {
  color: var(--northeastern-red) !important;
  text-decoration: none;
}

.mainContainer {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* padding: 10px 20px 30px 20px; */
  border-radius: 10px;
}

.mainContainer > h3 {
  font-size: 20pt;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.mainContainer h1,
h1 {
  /* text-align: center; */
  font-size: 60pt;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 50pt;
}

h2 {
  font-size: 40pt;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.mainContainer ul,
.mainContainer ol,
.mainContainer li {
  font-size: 32pt;
  /* margin: 0.75em 0; */
  padding: 0 1em;
  list-style: none;
  margin-bottom: -10px;
}

.mainContainer li {
  margin-bottom: -32px;
}

.mainContainer li:hover::before {
  border-color: transparent var(--accent);
  text-decoration: underline;
}

.mainContainer li:active::before {
  border-color: transparent var(--accent-dark);
}

.mainContainer li::before {
  content: "";
  border-color: transparent var(--text);
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 1em;
  position: relative;
}

.mainContainer section {
  padding: 2rem;
}

.mainContainer a:visited,
.mainContainer a:visited:hover {
  color: var(--accent);
}

footer {
  text-align: center;
  /* position: absolute; */
  margin: 75px 0 0 0;
  padding: 0 15% 0 15%;
  height: 2.5rem;
  width: 100%;
  left: 0;
  color: var(--grey-text);
  font-size: 9pt;
  * {
    margin-bottom: 5px;
  }
}
p {
  margin-left: 5px;
}

a,
a:hover {
  color: var(--accent);
  text-decoration: none;
}

a:visited:active,
a:active:visited,
a:active {
  color: var(--accent-dark);
}

a:visited,
a:visited:hover {
  color: var(--accent-alt);
}

a:hover,
a:visited {
  text-decoration: underline solid 2px;
}

.no-highlight {
  -moz-user-select: none;
  -webkit-text-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.body_container {
  margin: 10px 15%;
  /* padding: 10px 15%;
  overflow: hidden; */
}

::-webkit-scrollbar {
  width: 10px;
  background: none;
  background-color: var(--background-color);
  /* border-radius: 10px; */
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--background-color);
  /* border-radius: 10px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(58, 58, 58, 0.95);
  /* border-radius: 10px; */
  opacity: 0.6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent-dark);
  opacity: 1;
}

::-webkit-scrollbar-thumb:active {
  background-color: var(--accent);
  opacity: 1;
}

/* ::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0.95);
} */

/* .projContainer > h1 {
  text-align: center;
} */

.hidden {
  display: none;
}

.centered {
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.centeredalt {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.text-left {
  text-align: left;
}

.subheader {
  text-align: left;
  color: #a1a1a1;
  margin: 5px 0px;
}

.tooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  z-index: 1;
  background: #333;
  transform: translate(15%);
  color: #fff;
  padding: 5px;
  font-size: 10pt;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s;
  white-space: nowrap;
  font-family: "cascadia-code", "cascadia-mono", "Consolas", "Courier New",
    monospace;
}

.tooltip::before {
  content: "";
  opacity: 0;
  position: absolute;

  z-index: 1;
  transform: translate(180%, 65%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent #333 transparent transparent;
}

.tooltip:hover::after,
.tooltip:hover::before {
  opacity: 1;
}

.text-center {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .body_container {
    margin: 10px 5%;
  }

  footer {
    padding: 0 5% 0 5%;
  }

  .mainContainer {
    border: none;
    max-width: 90%;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
  }
  .mainContainer ul,
  .mainContainer ol,
  .mainContainer li {
    text-wrap: none;
  }
}
