:root {
  --margin-left: 10px;
}

.project-card {
  background-color: var(--project-card-background);
  /* margin-top: -5px; */
  /* list-style: none; */

  /* border-bottom: 2px solid #8d8d8d; */
}

.project-card h1 {
  margin: 5px 0 -5px var(--margin-left);
  text-align: left;
  font-size: 35pt;
  font-weight: bold;
}
.project-card .subheader {
  text-align: left;
  font-size: 14pt;
  color: #a1a1a1;
  margin: 5px 0 10px var(--margin-left);
}

.project-card p,
.project-card ul,
.project-card a {
  margin-left: var(--margin-left);
}

.project-card .link-wrapper {
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: var(--text-color);
}

.project-card .link-wrapper a {
  position: relative;
  display: inline-block;
  color: var(--text-color);
}

.project-card .link-wrapper a:hover {
  color: var(--accent-color);
}

.project-card .link-wrapper a:active {
  color: var(--accent-color-dark);
}

.project-card .link-wrapper a::after,
.bar::after {
  content: attr(data-tooltip);
  position: absolute;
  /* bottom: 10%; */
  z-index: 1;
  left: 120%;
  top: 10%;
  /* transform: translateX(-50%); */
  background: #333;
  color: #fff;
  padding: 5px;
  font-size: 10pt;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s;
  white-space: nowrap;
}

.project-card .link-wrapper a::before {
  content: "";
  opacity: 0;
  position: absolute;
  left: 85%;
  top: 34%;
  z-index: 1;
  /* transform: translateX(-50%); */
  border-width: 5px;
  border-style: solid;
  border-color: transparent #333 transparent transparent;
}

.bar::after {
  left: 50%;
  top: -550%;
  position: absolute;
  transform: translateX(-50%);
}

.bar::before {
  content: "";
  position: absolute;
  top: -3px; /* Adjust this value to move the arrow up or down */
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
  opacity: 0;
}

.project-card .link-wrapper a:hover::after,
.project-card .link-wrapper a:hover::before,
.bar:hover::after,
.bar:hover::before {
  opacity: 1;
}

.bar {
  height: 5px;
  position: relative;
  margin-top: -5px;
  max-height: 100%;
}

.bar-wrapper {
  width: 100%;
  background-color: #8d8d8d;
  margin-top: 10px;
  height: 5px;
  &.norepo {
    visibility: hidden;
    height: 2px;
    content: "";
    /* height: 10px; */
  }
}

#mbtamapper_card {
  /* margin-top: -5px; */
  margin-top: -5px;
  background:
    linear-gradient(
      to right,
      var(--project-card-background) 50%,
      rgba(0, 0, 0, 0)
    ),
    url("../img/mbtamapper_light.png") right center no-repeat;
  background-size: cover;
  background-position: fixed;
}

[data-mode="dark"] #mbtamapper_card {
  margin-top: -5px;
  background:
    linear-gradient(
      to right,
      var(--project-card-background) 50%,
      rgba(0, 0, 0, 0)
    ),
    url("../img/mbtamapper_dark.png") right center no-repeat;
  background-size: cover;
  background-position: fixed;
}

#tandypack_card {
  margin-top: -5px;
  background:
    linear-gradient(
      to right,
      var(--project-card-background) 50%,
      rgba(0, 0, 0, 0)
    ),
    url("../img/tandypack.png") right center no-repeat;
  background-size: cover;
  background-position: fixed;
}

#meie4702_card {
  margin-top: -5px;
  background:
    linear-gradient(
      to right,
      var(--project-card-background) 50%,
      rgba(0, 0, 0, 0)
    ),
    url("../img/parachutes.jpg") right center no-repeat;
  background-size: cover;
  background-position: fixed;
}

#ie3425_card {
  margin-top: -5px;
  background:
    linear-gradient(
      to right,
      var(--project-card-background) 50%,
      rgba(0, 0, 0, 0)
    ),
    url("../img/heavy_like_a_brinks_truck.jpg") right center no-repeat;
  background-size: cover;
  background-position: fixed;
}

#ie4510_card {
  margin-top: -5px;
  background:
    linear-gradient(
      to right,
      var(--project-card-background) 50%,
      rgba(0, 0, 0, 0)
    ),
    url("../img/bus.jpg") right center no-repeat;
  background-size: cover;
  background-position: fixed;
}

.project-card-container {
  border: #8d8d8d 2px solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 30px;
  position: relative;
}
.project-card-container > ::marker,
.project-card-container > ::-webkit-details-marker {
  content: "";
  display: none;
  font-size: 0px;
}

.project-card-container:hover {
  border: var(--accent-color) 2px solid;
  cursor: pointer;
  .norepo {
    background-color: var(--accent-color);
  }
}

.project-card-container:active {
  border: var(--accent-color-dark) 2px solid;
  .norepo {
    background-color: var(--accent-color-dark);
  }
}

.project-card-content {
  padding-right: var(--margin-left);
  padding-left: var(--margin-left);
  font-size: 14pt;
  background-color: var(--project-card-background);

  /* display: none; */
}

.reducedleft {
  margin-left: -20px;
}

iframe {
  margin: 10px 0 0 0;
  width: 100%;
  height: 400px;
  border: none;
  border-radius: 10px !important;
}

.project-card-content img,
.project-card-content video {
  max-height: 400px;
  width: 75%;
  border-radius: 10px !important;
  object-fit: scale-down;
}

.project-card-container .code-wrapper {
  max-height: 400px;
  width: 75%;
  border-radius: 10px;
  margin: 0 auto;
  padding: 10px;
  background-color: var(--grey-text);
}

.rounded {
  border-radius: 10px;
}

/* summary::marker {
  content: "";
} */
