:root {
  --margin-left: 10px;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 30px 0 30px 0;
  padding: 5px 0 0 0;
  border: #8d8d8d 2px solid;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgb(10, 10, 10);
}

.project-card h1 {
  margin: 0 0 -5px var(--margin-left);
  text-align: left;
  font-size: 35pt;
  font-weight: bold;
}
.project-card .subheader {
  text-align: left;
  font-size: 14pt;
  color: #a1a1a1;
}
.project-card p,
.project-card ul,
.project-card a {
  margin-left: var(--margin-left);
}

.project-card .link-wrapper {
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: var(--text);
}
.project-card .link-wrapper a {
  color: var(--text);
}

.project-card .link-wrapper a:hover {
  color: var(--accent);
}

.bar {
  height: 5px;
  position: relative;
  margin-top: -5px;
  max-height: 100%;
}

.bar-wrapper {
  width: 100%;
  max-height: max-content;
  background-color: #dadada;
  margin-top: 10px;
}

#mbta_mapper {
  background: linear-gradient(
      to right,
      rgb(30, 30, 30, 0.7),
      rgba(86, 86, 86, 0)
    ),
    url("../img/train.png") right center no-repeat;
  /* background: url("../img/train.png") no-repeat left center; */
  background-size: cover;
  /* background-attachment: fixed; */
  background-position: fixed;
}

.project-card:hover {
  border: var(--accent) 2px solid;
  cursor: pointer;
}
